<responsibyl-header
  [hasMenu]="'true'"
  [hasAccount]="true"
  [title]="'Engagement Summary'"
  [breadcrumbsList]="[{text: 'My Engagements', link: '#'}, {text: 'Engagement Summary', link: '#'}]">
  <div class="custom-right-content">
    <div class="header__notifications">
      <div class="header__notification-count">12</div>
    </div>
  </div>
  <div class="toolbar-content">
    <responsibyl-negative-corner-box
      buttonSize="31"
      buttonIcon="assets/svg/filter.svg"
      buttonIconSelected="assets/svg/filter_selected.svg"
    ></responsibyl-negative-corner-box>
    <responsibyl-negative-corner-box
      buttonSize="31"
      buttonIcon="assets/svg/sort.svg"
      buttonIconSelected="assets/svg/sort-1.svg"
    ></responsibyl-negative-corner-box>
    <responsibyl-search
      placeholder="Phahah"
      currentSearch=""
      style="margin-right: 20px; margin-bottom: 4px; margin-left: 10px;"
    ></responsibyl-search>
  </div>
</responsibyl-header>

<div class="container">
  <div class="info-survey">
    <div class="info-survey__image"></div>
    <div class="info-survey__info">
      <div class="info-survey__info-title">Responsibyl customer satisfaction engagement.</div>
      <div class="info-survey__info-description">Process of discovering whether or not a company's customers are happy or satisfied with the products or services received from the company.</div>
      <hr>
      <div class="info-survey__info-survey_type">
        <div class="info-survey__info-survey_type-img"></div>
        <div class="info-survey__info-survey_type-text">Live</div>
      </div>
      <hr>
      <div class="info-survey__info-date">
        <div class="highlighted">Start: </div> 2015-02-15 <div class="highlighted end-date">End: </div> 2015-02-15
      </div>
      <div class="info-survey__info-location">
        <div class="info-survey__info-location-img"></div>
        <div class="info-survey__info-location-text">5 Locations</div>
      </div>
      <div class="info-survey__info-responses">
        <div class="info-survey__info-responses-img"></div>
        <div class="info-survey__info-responses-text">View all responses</div>
      </div>
    </div>
  </div>
  <div class="surveys-list">
    <div class="surveys-info">
      <div class="surveys-info__survey-numbers">
        <div class="surveys-info__survey-numbers-img"></div>
        <div class="surveys-info__survey-numbers-text">Surveys: </div>
        <div class="surveys-info__survey-numbers-number">82</div>
      </div>
      <div class="surveys-info__results">Showing 1 to 10 from 82 results</div>
    </div>
    <div class="survey" id="1">
      <div class="survey__image"></div>
      <div class="survey__info">
        <div class="wrap_text_type">
          <div class="survey_text">
            <div class="survey_text__title">Responsibyl customer satisfaction survey for Responsibyl customers only.</div>
            <div class="survey_text__info">Process of discovering whether or not a company's customers are happy or satisfied with the products or services received from the company. Customer answers to questions are then used to analyze whether or not chages ar needed.</div>
          </div>
          <div class="type">
            <div class="type_text">Live</div>
            <div class="type_img"></div>
          </div>
        </div>
        <hr>
        <div class="final_info">
          <div class="highlighted">Start: </div> 2015-02-15
          <div class="highlighted end-date">End: </div> 2015-02-15
          <span class="progress-bar">
            <span style="width: 50%;"></span>
          </span>
          <div class="progress-bar-info">10 / <div class="graied-out">20</div> (50%) responses collected</div>
          <div class="demographic_info_bold">+ 4 demographic quotas</div>
        </div>
      </div>
    </div>
    <div class="survey" id="2">
      <div class="survey__image"></div>
      <div class="survey__info">
        <div class="wrap_text_type">
          <div class="survey_text">
            <div class="survey_text__title">Responsibyl customer satisfaction survey for Responsibyl customers only.</div>
            <div class="survey_text__info">Process of discovering whether or not a company's customers are happy or satisfied with the products or services received from the company. Customer answers to questions are then used to analyze whether or not chages ar needed.</div>
          </div>
          <div class="type">
            <div class="type_text">Live</div>
            <div class="type_img"></div>
          </div>
        </div>
        <hr>
        <div class="final_info">
          <div class="highlighted">Start: </div> 2015-02-15 <div class="highlighted end-date">End: </div> 2015-02-15
          <span class="progress-bar">
            <span style="width: 50%;"></span>
          </span>
          <div class="progress-bar-info">10 / <div class="graied-out">20</div> (50%) responses collected</div>
          <div class="demographic_info">
            1 / <div class="graied-out">4</div> (25%) Romanian
          </div>
        </div>
      </div>
    </div>
    <div class="survey" id="3">
      <div class="survey__image"></div>
      <div class="survey__info">
        <div class="wrap_text_type">
          <div class="survey_text">
            <div class="survey_text__title">Responsibyl customer satisfaction survey for Responsibyl customers only.</div>
            <div class="survey_text__info">Process of discovering whether or not a company's customers are happy or satisfied with the products or services received from the company. Customer answers to questions are then used to analyze whether or not chages ar needed.</div>
          </div>
          <div class="type">
            <div class="type_text">Suspended</div>
            <div class="type_img_suspended"></div>
          </div>
        </div>
        <hr>
        <div class="final_info">
          <div class="highlighted">Start: </div> 2015-02-15 <div class="highlighted end-date">End: </div> 2015-02-15
          <span class="progress-bar">
            <span style="width: 100%;"></span>
          </span>
          <div class="progress-bar-info">10 responses collected</div>
          <div class="demographic_info_bold">+ 2 demographic quotas</div>
        </div>
      </div>
    </div>
    <div class="survey" id="4">
      <div class="survey__image disable_survey__image"></div>
      <div class="survey__info">
        <div class="wrap_text_type">
          <div class="survey_text">
            <div class="survey_text__title archived-text">Responsibyl customer satisfaction survey for Responsibyl customers only.</div>
            <div class="survey_text__info archived-text">Process of discovering whether or not a company's customers are happy or satisfied with the products or services received from the company. Customer answers to questions are then used to analyze whether or not chages ar needed.</div>
          </div>
          <div class="type">
            <div class="type_text">Archived</div>
            <div class="type_img_archived"></div>
          </div>
        </div>
        <hr>
        <div class="final_info archived-text">
          <div class="highlighted">Start: </div> 2015-02-15 <div class="highlighted end-date">End: </div> 2015-02-15
          <span class="progress-bar">
            <span style="width: 0%;"></span>
          </span>
          <div class="progress-bar-info">0 / <div class="graied-out">20</div> (0%) responses collected</div>
        </div>
      </div>
    </div>
    <div class="error_message">
      <div class="error_text">This survey was not answered and cannot be accessed</div>
    </div>
    <div class="survey" id="5">
      <div class="survey__image"></div>
      <div class="survey__info">
        <div class="wrap_text_type">
          <div class="survey_text">
            <div class="survey_text__title">Responsibyl customer satisfaction survey for Responsibyl customers only.</div>
            <div class="survey_text__info">Process of discovering whether or not a company's customers are happy or satisfied with the products or services received from the company. Customer answers to questions are then used to analyze whether or not chages ar needed.</div>
          </div>
          <div class="type">
            <div class="type_text">Live</div>
            <div class="type_img"></div>
          </div>
        </div>
        <hr>
        <div class="final_info">
          <div class="highlighted">Start: </div> 2015-02-15 <div class="highlighted end-date">End: </div> 2015-02-15
          <span class="progress-bar">
            <span style="width: 50%;"></span>
          </span>
          <div class="progress-bar-info">10 / <div class="graied-out">20</div> (50%) responses collected</div>
          <div class="demographic_info">
            1 / <div class="graied-out">4</div> (25%) Romanian
          </div>
        </div>
      </div>
    </div>
    <div class="survey" id="6">
      <div class="survey__image"></div>
      <div class="survey__info">
        <div class="wrap_text_type">
          <div class="survey_text">
            <div class="survey_text__title">Responsibyl customer satisfaction survey for Responsibyl customers only.</div>
            <div class="survey_text__info">Process of discovering whether or not a company's customers are happy or satisfied with the products or services received from the company. Customer answers to questions are then used to analyze whether or not chages ar needed.</div>
          </div>
          <div class="type">
            <div class="type_text">Live</div>
            <div class="type_img"></div>
          </div>
        </div>
        <hr>
        <div class="final_info">
          <div class="highlighted">Start: </div> 2015-02-15 <div class="highlighted end-date">End: </div> 2015-02-15
          <span class="progress-bar">
            <span style="width: 50%;"></span>
          </span>
          <div class="progress-bar-info">10 / <div class="graied-out">20</div> (50%) responses collected</div>
          <div class="demographic_info_bold">+ 4 demographic quotas</div>
        </div>
      </div>
    </div>
    <div class="survey" id="7">
      <div class="survey__image"></div>
      <div class="survey__info">
        <div class="wrap_text_type">
          <div class="survey_text">
            <div class="survey_text__title">Responsibyl customer satisfaction survey for Responsibyl customers only.</div>
            <div class="survey_text__info">Process of discovering whether or not a company's customers are happy or satisfied with the products or services received from the company. Customer answers to questions are then used to analyze whether or not chages ar needed.</div>
          </div>
          <div class="type">
            <div class="type_text">Live</div>
            <div class="type_img"></div>
          </div>
        </div>
        <hr>
        <div class="final_info">
          <div class="highlighted">Start: </div> 2015-02-15 <div class="highlighted end-date">End: </div> 2015-02-15
          <span class="progress-bar">
            <span style="width: 50%;"></span>
          </span>
          <div class="progress-bar-info">10 / <div class="graied-out">20</div> (50%) responses collected</div>
          <div class="demographic_info">
            1 / <div class="graied-out">4</div> (25%) Romanian
          </div>
        </div>
      </div>
    </div>
    <div class="survey" id="8">
      <div class="survey__image"></div>
      <div class="survey__info">
        <div class="wrap_text_type">
          <div class="survey_text">
            <div class="survey_text__title">Responsibyl customer satisfaction survey for Responsibyl customers only.</div>
            <div class="survey_text__info">Process of discovering whether or not a company's customers are happy or satisfied with the products or services received from the company. Customer answers to questions are then used to analyze whether or not chages ar needed.</div>
          </div>
          <div class="type">
            <div class="type_text">Suspended</div>
            <div class="type_img_suspended"></div>
          </div>
        </div>
        <hr>
        <div class="final_info">
          <div class="highlighted">Start: </div> 2015-02-15 <div class="highlighted end-date">End: </div> 2015-02-15
          <span class="progress-bar">
            <span style="width: 100%;"></span>
          </span>
          <div class="progress-bar-info">10 responses collected</div>
          <div class="demographic_info_bold">+ 2 demographic quotas</div>
        </div>
      </div>
    </div>
    <div class="survey" id="9">
      <div class="survey__image disable_survey__image"></div>
      <div class="survey__info">
        <div class="wrap_text_type">
          <div class="survey_text">
            <div class="survey_text__title archived-text">Responsibyl customer satisfaction survey for Responsibyl customers only.</div>
            <div class="survey_text__info archived-text">Process of discovering whether or not a company's customers are happy or satisfied with the products or services received from the company. Customer answers to questions are then used to analyze whether or not chages ar needed.</div>
          </div>
          <div class="type">
            <div class="type_text">Archived</div>
            <div class="type_img_archived"></div>
          </div>
        </div>
        <hr>
        <div class="final_info archived-text">
          <div class="highlighted">Start: </div> 2015-02-15 <div class="highlighted end-date">End: </div> 2015-02-15
          <span class="progress-bar">
            <span style="width: 0%;"></span>
          </span>
          <div class="progress-bar-info">0 / <div class="graied-out">20</div> (0%) responses collected</div>
        </div>
      </div>
    </div>
    <div class="wrapper">
      <div class="show-more-button">Show All</div>
      <div class="back-to-top"></div>
    </div>
  </div>
</div>
<div class="footer">
  <ul class="list">
    <li class="main_footer_links">Help</li>
    <li class="main_footer_links">About Us</li>
    <li class="main_footer_links">Terms & Conditions</li>
    <li class="main_footer_links">Privacy & Security</li>
  </ul>
  <div class="footer_second_line">
    <div class="copyrights">Responsibyl © 2018 - All rights reserved.</div>
    <div class="powered_by">
      <div class="powered_by_text">Powered by:</div>
      <div class="powered_by_img"></div>
    </div>
  </div>
</div>

