<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="projectName">Project Name: </label>
          <input
            class="form-control"
            id="projectName"
            formControlName="projectName"
            type="text">
          <span
            class="help-block"
            style="color: red;"
            *ngIf="!projectForm.get('projectName').value && projectForm.get('projectName').touched">
            This field is required!
          </span>
        </div>
        <div class="form-group">
          <label for="mail">Email: </label>
          <input
            class="form-control"
            id="mail"
            formControlName="mail">
          <span
            class="help-block"
            style="color: red;"
            *ngIf="!projectForm.get('mail').value && projectForm.get('mail').touched">
            This field is required!
          </span>
        </div>
        <div class="form-group">
          <label for="status">Status: </label>
          <select
            id="status"
            class="form-control"
            formControlName="status">
            <option>Stable</option>
            <option>Critical</option>
            <option>Finished</option>
          </select>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
      <!--
          Create a Form with the following Controls and Validators
          1) Project Name (should not be empty) DONE
          2) Mail (should not be a empty and a valid email) DONE
          3) Project Status Dropdown, with three values: 'Stable', 'Critical', 'Finished' DONE
          4) Submit Button DONE

          Add your own Validator which doesn't allow "Test" as a Project Name

          Also implement that Validator as an async Validator (replace the other one)

          Upon submitting the form, simply print the value to the console
      -->
    </div>
  </div>
</div>
