<div class="profile-page">

  <div class="user-info">
    <div class="container">
      <div class="row">

        <div class="col-xs-12 col-md-10 offset-md-1">
          <img src="{{userProfileService.image}}" class="user-img" default="/assets/smiley-cyrus.jpg"/>
          <h4>{{userProfileService.username}}</h4>
          <p>
            {{userProfileService.bio}}
          </p>
          <button
            *ngIf="!userProfileService.following && userProfileService.username !== userData.username"
            class="btn btn-sm btn-outline-secondary action-btn"
            (click)="followUser('follow')"
          >
            <i class="ion-plus-round"></i>
            Follow {{userProfileService.username}}
          </button>
          <button
            *ngIf="userProfileService.following"
            class="btn btn-sm btn-outline-secondary action-btn"
            (click)="followUser('unfollow')"
          >
            <i class="ion-plus-round"></i>
            Unfollow {{userProfileService.username}}
          </button>

          <button
            *ngIf="userData.username === userProfileService.username"
            class="btn btn-sm btn-outline-secondary action-btn"
            (click)="settingButtonClicked()"
            style="margin-right: 15px"
          >
            <i class="ion-gear-a"></i>
            Edit Profile Settings
          </button>
        </div>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">

      <div class="col-xs-12 col-md-10 offset-md-1">
        <div class="articles-toggle">
          <ul class="nav nav-pills outline-active">
            <li class="nav-item">
              <a class="nav-link"
                 [routerLink]="['/@' + userProfileService.username]"
                 [routerLinkActive]="'active'"
                 [routerLinkActiveOptions]="{exact:true}"
              >My Articles</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"
                 [routerLink]="['favorites']"
                 [routerLinkActive]="'active'"
              >Favorited Articles</a>
            </li>
          </ul>
        </div>
        <router-outlet></router-outlet>

      </div>
    </div>
  </div>

</div>
