$colors: (primary-white: #FFFFFF,
          primary-black: #000000,
          green: #4ABF02,
          first-gray: #F8F8F8,
          secound-gray: #D8D8D8,
          third-gray: #DBDCDC,
          orange: #F8AC09,
          orange-yellow: #FFC200);
