@font-face {
  font-family: "OpenSans";
  src: url('/assets/Open_Sans/OpenSans-Regular.ttf');
  font-style: normal;
}

@font-face {
  font-family: "OpenSansLight";
  src: url('src/assets/Open_Sans/OpenSans-Light.ttf');
  font-style: normal;
}

@font-face {
  font-family: "OpenSansSemiBold";
  src: url("src/assets/Open_Sans/OpenSans-SemiBold.ttf");
  font-style: normal;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #e6e6e6;
  font-family: OpenSans, sans-serif;
}

.div#breadcrumbs {
  position: static;
}
