<div class="article-page">

  <div class="banner">
    <div class="container">

      <h1>{{article.title}}</h1>

      <div class="article-meta">
        <a href=""> <img src="{{article.image}}"/> </a>
        <div class="info">
          <a href="" class="author">{{article.username}}</a>
          <span class="date">{{article.createdAt | date}}</span>
        </div>

        <button
          *ngIf="article.username !== userData.username && !article.following"
          class="btn btn-sm btn-outline-secondary"
          (click)="followUser('follow')"
        >
          <i class="ion-plus-round"></i>
          Follow {{article.username}} <span class="counter"></span>
        </button>

        <button
          *ngIf="article.username !== userData.username && article.following"
          class="btn btn-sm btn-outline-secondary"
          (click)="followUser('unfollow')"
        >
          <i class="ion-plus-round"></i>
          Unfollow {{article.username}} <span class="counter"></span>
        </button>
        &nbsp;&nbsp;
        <button
          *ngIf="article.username !== userData.username"
          class="btn btn-sm"
          [class.btn-primary] = "article.favorited"
          [class.btn-outline-primary] = "!article.favorited"
          (click)="likeOrDislikePost()"
        >
          <i class="ion-heart"></i>
          &nbsp;
          Favorite Post <span class="counter">({{article.favoritesCount}})</span>
        </button>

        <button
          *ngIf="article.username === userData.username"
          class="btn btn-outline-secondary btn-sm"
          [routerLink]="['/editor/' + article.slug]"
        >
          <i class="ion-edit"></i>
          &nbsp;
          Edit Article
        </button>

        <button
          *ngIf="article.username === userData.username"
          class="btn btn-outline-danger btn-sm"
          (click)="deleteArticleClicked()"
        >
          <i class="ion-trash-a"></i>
          &nbsp;
          Delete Article
        </button>
      </div>

    </div>
  </div>

  <div class="container page">

    <div class="row article-content">
      <div class="col-md-12">
        <p>
          {{article.body}}
        </p>
        <ul
          *ngFor="let tag of article.tagList"
          class="tag-list">
          <li class="tag-default tag-pill tag-outline">{{tag}}</li>
        </ul>
      </div>
    </div>

    <hr />

    <div class="article-actions">
      <div class="article-meta">
        <a href><img src="{{article.image}}" /></a>
        <div class="info">
          <a href="" class="author">{{article.username}}</a>
          <span class="date">{{article.createdAt | date}}</span>
        </div>

        <button
          *ngIf="article.username !== userData.username && !article.following"
          class="btn btn-sm btn-outline-secondary"
          (click)="followUser('follow')"
        >
          <i class="ion-plus-round"></i>
          Follow {{article.username}} <span class="counter"></span>
        </button>

        <button
          *ngIf="article.username !== userData.username && article.following"
          class="btn btn-sm btn-outline-secondary"
          (click)="followUser('unfollow')"
        >
          <i class="ion-plus-round"></i>
          Unfollow {{article.username}} <span class="counter"></span>
        </button>
        &nbsp;&nbsp;
        <button
          *ngIf="article.username !== userData.username"
          class="btn btn-sm"
          (click)="likeOrDislikePost()"
          [class.btn-primary] = "article.favorited"
          [class.btn-outline-primary] = "!article.favorited"
        >
          <i class="ion-heart"></i>
          &nbsp;
          Favorite Post <span class="counter">({{article.favoritesCount}})</span>
        </button>

        <button
          *ngIf="article.username === userData.username"
          class="btn btn-outline-secondary btn-sm">
          <i class="ion-edit"></i>
          &nbsp;
          Edit Article
        </button>

        <button
          *ngIf="article.username === userData.username"
          class="btn btn-outline-danger btn-sm"
          (click)="deleteArticleClicked()"
        >
          <i class="ion-trash-a"></i>
          &nbsp;
          Delete Article
        </button>
      </div>
    </div>

    <div class="row">

      <div class="col-xs-12 col-md-8 offset-md-2">

        <form
          [formGroup]="commentForm"
          class="card comment-form"
          (ngSubmit)="onSubmitComment()"
        >
          <div class="card-block">
            <textarea
              formControlName="body"
              class="form-control"
              placeholder="Write a comment..." rows="3"></textarea>
          </div>
          <div class="card-footer">
            <img src="{{userData.image}}" class="comment-author-img" />
            <button
              type="submit"
              class="btn btn-sm btn-primary">
              Post Comment
            </button>
          </div>
        </form>

        <div class="card" *ngFor="let comment of comments">
          <div class="card-block">
            <p class="card-text">{{comment.body}}</p>
          </div>
          <div class="card-footer">
            <a href="" class="comment-author">
              <img src="{{comment.image}}" class="comment-author-img" />
            </a>
            &nbsp;
            <a href="" class="comment-author">{{comment.username}}</a>
            <span class="date-posted">{{comment.createdAt | date}}</span>
            <span class="mod-options" *ngIf="comment.username === userData.username">
              <i
                (click)="deleteCommentClicked(comment)"
                class="ion-trash-a"></i>
            </span>
          </div>
        </div>

        </div>

      </div>

    </div>

  </div>

