<div class="home-page">

  <div class="banner" *ngIf="!authService.isUserAuthenticated()">
    <div class="container">
      <h1 class="logo-font">conduit</h1>
      <p>A place to share your knowledge.</p>
    </div>
  </div>

  <div class="container page">
    <div class="row">

      <div class="col-md-9">
        <div class="feed-toggle">
          <ul class="nav nav-pills outline-active">
            <li class="nav-item" *ngIf="authService.isUserAuthenticated()">
              <a
                class="nav-link {{isYourTabActiveClass}}"
                (click)="yourFeedClicked()"
              >Your Feed</a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link {{isGlobalTabActiveClass}}"
                (click)="globalFeedClicked()"
              >Global Feed</a>
            </li>
            <li class="nav-item" *ngIf="isFilterTabOpen">
              <a
                class="nav-link {{isFilterTabActiveClass}}"
                href
              >{{filterTabName}}</a>
            </li>
          </ul>
        </div>

        <app-articles-list
          [articleList]="listOfArticlesYourFeed"
          [articleListLength]="articleListLength"
          [totalPages]="totalPages"
          [noArticles]="noArticles"
          type="your_feed"
          *ngIf="isYourTabActive"
        ></app-articles-list>

        <app-articles-list
          [articleList]="listOfArticles"
          *ngIf="isGlobalTabActive"
          [articleListLength]="articleListLength"
          [totalPages]="totalPages"
          [noArticles]="noArticles"
          type="global_feed"
        ></app-articles-list>

        <app-articles-list
          [filter]="filterName"
          [articleList]="listOfArticledFiltere"
          [articleListLength]="articleListLength"
          [totalPages]="totalPages"
          [noArticles]="noArticles"
          *ngIf="isFilterTabOpen"
          type="filtered_feed"
        ></app-articles-list>

        <!--<app-global-feed *ngIf="isGlobalTabActive"></app-global-feed>-->
        <!--<app-filter-feed [filter]="filterName" [listOfArticle]="listOfArticledFiltere" *ngIf="isFilterTabOpen"></app-filter-feed>-->
      </div>
      <div class="col-md-3">
        <div class="sidebar">
          <app-popular-tags (sortArticlesByTag)="filterArticlesByTag($event)"></app-popular-tags>
        </div>
      </div>

    </div>
  </div>

</div>
